.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}.boxes {
    display: flex;
    justify-content: space-between;
}